<section class="page">
    <header>
        <nav class="contacts_menu">
            <ul>
                <li><a href="/contacts">Contacts</a></li>
                <li><label for="edit_contact" roll="link">Edit</label></li>
            </ul>
        </nav>
        <h2>Name: <%= full_name(first_name: @contact["first_name"], last_name: @contact["last_name"])%></h2>
    </header>
    <article>
        <img src="/images/profiles/profile-alex-frank_.jpg" alt="alex frank profile">
        <dl>
            <dt>query test</dt>
            <dd><%=@contact%></dd>
            <dt>url slug</dt>
            <dd><%=@path_slug%></dd>
            <dt>url path</dt>
            <dd><%=@path_info%></dd>
            <dt>id</dt>
            <dd><%=@contact["id"]%></dd>
            <dt>phone</dt>
            <dd><%=@contact["phone"]%></dd>
            <dt>email</dt>
            <dd><%=@contact["email"]%></dd>
            <dt>note</dt>
            <dd><%=@contact["note"]%></dd>
        </dl>
    </article>
    <input type="checkbox" id=edit_contact class="hidden">
    <section class="modal">
        <article roll="edit-form-wrapper">
            <form roll="edit-form" method="post">
                <dl>
                    <dt><label for="profile_pic">Update profile picture:</label></dt>
                    <dd><input type="file" id="profile_pic" name="profile_pic" accept="image/png, image/jpeg"
                            size="2097152"></dd>

                    <dt><label for="first_name">first name</label></dt>
                    <dd><input type="text" id="first_name" name="first_name" value="John" required></dd>

                    <dt><label for="last_name">last name</label></dt>
                    <dd><input type="text" id="last_name" name="last_name" value="Wick"></dd>

                    <dt><label for="phone_number">phone number</label></dt>
                    <dd><input type="text" id="phone_number" name="phone_number" value="867-5309"></dd>

                    <dt><label for="email">email</label></dt>
                    <dd><input type="email" id="email" name="email" value="jwick@gmail.com"></dd>

                    <dt><label for="note"></label>note</dt>
                    <dd><textarea id="note" name="note">no one messes with john wick!</textarea></dd>
                </dl>
                <button>Update Contact</button><label for="edit_contact" roll="link" id="cancel-link">Cancel</label>
                <button formaction="<%=@delete_action%>" id="delete-button">delete this contact</button>
            </form>
        </article>
    </section>
</section>
