<section class="page">
    <header>
        <nav class="contacts_menu">
            <ul>
                <li><a href="/contacts">Contacts</a></li>
                <li><label for="edit_contact" roll="link">Edit</label></li>
            </ul>
        </nav>
        <h2>Name: <%= full_name(first_name: @contact["first_name"], last_name: @contact["last_name"])%></h2>
    </header>
    <section class="<%= @contact_successfully_edited ? 'success' : 'success hidden' %>">
        <h2>Contact successfully updated.</h2>
            <p>UPDATING LIKE A BOSS!!!</p>
    </section>
    <article>
        <img src="/images/profiles/profile-alex-frank_.jpg" alt="alex frank profile">
        <dl>
            <dt>query test</dt>
            <dd><%=@contact%></dd>
            <dt>url slug</dt>
            <dd><%=@path_slug%></dd>
            <dt>url path</dt>
            <dd><%=@path_info%></dd>
            <dt>id</dt>
            <dd><%=@contact["id"]%></dd>
            <dt>phone</dt>
            <dd><%=@contact["phone"]%></dd>
            <dt>email</dt>
            <dd><%=@contact["email"]%></dd>
            <dt>note</dt>
            <dd><%=@contact["note"]%></dd>
        </dl>
    </article>
    <input type="checkbox" id=edit_contact class="hidden" <%= @request_errors.empty? ? '' : 'checked' %>>
    <section class="modal">
        <article roll="edit-form-wrapper">
            <section class="<%= @request_errors.empty? ? 'errors hidden' : 'errors' %>">
                <h2>Database errors:</h2>
                <% @request_errors.each do |error_message| %>
                <p><%= error_message %></p>
            <% end %>
            </section>
            <form roll="edit-form" method="post" enctype="multipart/form-data">
                <dl>
                    <input type="hidden" id="contact_id" name="contact_id" value="<%=@contact["id"]%>">

                    <dt><label for="profile_pic">Update profile picture:</label></dt>
                    <dd><input type="file" id="profile_pic" name="profile_pic" accept="image/png, image/jpeg"
                            size="2097152"></dd>

                    <dt><label for="first_name">first name</label></dt>
                    <dd><input type="text" maxlength="250" id="first_name" name="first_name" value="<%=@contact["first_name"]%>"></dd>

                    <dt><label for="last_name">last name</label></dt>
                    <dd><input type="text" maxlength="250" id="last_name" name="last_name" value="<%=@contact["last_name"]%>"></dd>

                    <dt><label for="phone_number">phone number</label></dt>
                    <dd><input type="text" maxlength="30" id="phone_number" name="phone_number" value="<%=@contact["phone"]%>"></dd>

                    <dt><label for="email">email</label></dt>
                    <dd><input type="email" maxlength="250" id="email" name="email" value="<%=@contact["email"]%>"></dd>

                    <dt><label for="note"></label>note</dt>
                    <dd><textarea id="note" maxlength="250" name="note"><%=@contact["note"]%></textarea></dd>
                </dl>
                <button>Update Contact</button><label for="edit_contact" roll="link" id="cancel-link">Cancel</label>
                <button formaction="<%=@delete_action%>" id="delete-button">delete this contact</button>
            </form>
        </article>
    </section>
</section>
