<section class="page">
    <header>
        <nav class="contacts_menu">
            <ul>
                <li><a href="/contacts">Contacts</a></li>
                <li><label for="edit_contact" roll="link">Edit</label></li>
            </ul>
        </nav>
        <h2><%= full_name(first_name: @contact["first_name"], last_name: @contact["last_name"])%></h2>
    </header>
    <article>
        <img class="profile-image" src=<%= @contact["image_file_path"] %> alt="profile image">
        <dl>
            <% unless @contact["phone"].empty?%>
            <dt>phone</dt>
            <dd><%=@contact["phone"]%></dd>
            <% end%>
            <% unless @contact["email"].empty?%>
            <dt>email</dt>
            <dd><%=@contact["email"]%></dd>
            <% end%>
            <% unless @contact["note"].empty?%>
            <dt>note</dt>
            <dd><%=@contact["note"]%></dd>
            <% end%>
        </dl>
    </article>
    <input type="checkbox" id="edit_contact" class="hidden" <%= @request_errors.empty? && !@edit_param_present ? '' : 'checked' %>>
    <section class="modal">
        <article roll="edit-form-wrapper">
            <section class="<%= @contact_successfully_edited ? 'success' : 'success hidden' %>">
                <h2>Contact successfully updated.</h2>
                <p>UPDATING LIKE A BOSS!!!</p>
                <label for="edit_contact" roll="link">Exit editor</label>
                <p>Or continue editing this contact below</p>
            </section>
            <section class="<%= @request_errors.empty? ? 'errors hidden' : 'errors' %>">
                <h2>Database errors:</h2>
                <% @request_errors.each do |error_message| %>
                <p><%= error_message %></p>
            <% end %>
            </section>
            <form roll="edit-form" method="post" enctype="multipart/form-data">
                <h2>Edit this Contact</h2>
                <dl>
                    <input type="hidden" id="contact_id" name="contact_id" value="<%=@contact["id"]%>">

                    <dt><label for="profile_pic">Update profile picture:</label></dt>
                    <dd><input type="file" id="profile_pic" name="profile_pic" accept="image/png, image/jpeg"
                            size="2097152"></dd>

                    <h4>previously uploaded images</h4>
                    <ul>
                        <% @contact_profile_images&.each_with_index do |tuple, idx|%>
                            <% if tuple["file_name"].nil? %>
                            <li>No previously uploaded images - default quizzical cat image displayed</li>
                            <% else%>
                            <li>
                                <a href="/images/profiles/<%= tuple["file_name"] %>">
                                    image_<%= idx + 1%>
                                </a>
                                <%= tuple["created_at"]%>
                                    <% if idx == 0 %>
                                        <span class= "current-profile">Current Profile</span>
                                    <% else%>
                                        <button formaction="<%= params['contact_id'] %>/make_featured_image/<%= tuple['profile_image_id'] %>">make current</button>
                                    <% end %>
                                        <button formaction="<%= params['contact_id'] %>/delete_profile_pic/<%= tuple['profile_image_id'] %>">delete this image</button>
                            </li>
                            <% end %>
                        <% end %>
                        <br>
                        <% unless @contact_profile_images %>
                            <li>No older profiles pic available</li>
                        <% end %>
                    </ul>

                    <dt><label for="first_name">first name</label></dt>
                    <dd><input type="text" maxlength="250" id="first_name" name="first_name" value="<%=@contact["first_name"]%>"></dd>

                    <dt><label for="last_name">last name</label></dt>
                    <dd><input type="text" maxlength="250" id="last_name" name="last_name" value="<%=@contact["last_name"]%>"></dd>

                    <dt><label for="phone_number">phone number</label></dt>
                    <dd><input type="text" maxlength="30" id="phone_number" name="phone_number" value="<%=@contact["phone"]%>"></dd>

                    <dt><label for="email">email</label></dt>
                    <dd><input type="email" maxlength="250" id="email" name="email" value="<%=@contact["email"]%>"></dd>

                    <dt><label for="note"></label>note</dt>
                    <dd><textarea id="note" maxlength="250" name="note"><%=@contact["note"]%></textarea></dd>
                </dl>
                <button>Update Contact</button><label for="edit_contact" roll="link" id="cancel-link">Cancel</label>
                <button formaction="<%=@delete_action%>" id="delete-button">delete this contact</button>
            </form>
        </article>
    </section>
</section>
