<section class="page">
    <header roll="homepage-header" id="homepage-header">
        <h1>Contacts</h1>
        <div id="wrapper-add-fab">
            <label for="edit_contact" roll="link" id="add-contact"><img src="/images/add-fab.png"
                    alt="add a contact"></label>
        </div>
        <form roll="search-form" method="get">
            <input type="text" id="search" name="q" placeholder="Search">
            <button><img src="/images/search-icon.png" alt="search"></button>
        </form>
    </header>
    <section class="<%= @newly_added_contact_id.empty? ? 'success hidden' : 'success' %>">
        <h2>Contact successfully created!</h2>
        <p>You are so Popular!</p>
        <a href="<%= @path_info + "/" + @newly_added_contact_id %>">View Newest Contact</a>
    </section>
        <section class="<%= @contact_successfully_deleted ? 'success' : 'success hidden' %>">
        <h2>Contact successfully deleted!</h2>
        <p>You are losing friendos!</p>
    </section>
    <section class="<%= @contacts_successfully_seeded ? 'success' : 'success hidden' %>">
        <h2>Contacts successfully added to storage!</h2>
        <p><%= @count_contacts_successfully_seeded%> entries were added to get you started</p>
    </section>
    <main>
        <article>
            <ul class="contacts">
                <% @contacts&.each do |tuple|%>
                    <% link_to_contact=@path_info + "/" + tuple["id"] %>
                    <li>
                        <a href="<%= link_to_contact %>">
                            <%= full_name(first_name: tuple["first_name"], last_name: tuple["last_name"])%>
                        </a>
                    </li>
                <% end %>
                <% unless @contacts %>
                    <li>No contacts found</li>
                <% end %>
            </ul>
        </article>
    </main>
    <section>
        <h2>View Additional Contacts</h2>
        <nav class="pagination">
            <ul>
            <% @pages.each do |number|  %>
                <% active_class = @validated_pagination_int == number ? 'active' : '' %>
                <li>
                    <a class= "<%= active_class %>"href="<%=@path_info%>?page=<%= number %>"><%= number %></a>
                </li>
            <% end %>
            </ul>
        </nav>
    </section>

    <section>
        <form method="post" action= "/contacts/seed_storage">
            <button>Seed Database</button>
        </form>
    </section>

    <section>
        <form method="post" action= "/contacts/delete_all">
            <button id="delete-button">delete all contacts</button>
        </form>
    </section>

    <input type="checkbox" id="edit_contact" class="hidden" <%= @request_errors.empty? ? '' : 'checked' %>>
    <section class="modal">
        <article roll="edit-form-wrapper">
            <section class="<%= @request_errors.empty? ? 'errors hidden' : 'errors' %>">
                <h2>Database errors:</h2>
                <% @request_errors.each do |error_message| %>
                    <p><%= error_message %></p>
                <% end %>
            </section>
            <form roll="edit-form" method="post" name="add-contact" action="/contacts" enctype="multipart/form-data">
                <dl>
                    <dt><label for="profile_pic">Update profile picture:</label></dt>
                    <dd><input type="file" id="profile_pic" name="profile_pic" accept="image/png, image/jpeg"
                            size="2097152"></dd>

                    <dt><label for="first_name">first name</label></dt>
                    <dd><input type="text" maxlength="250" id="first_name" name="first_name" value="<%= @add_contact_form[:first_name]%>"></dd>

                    <dt><label for="last_name">last name</label></dt>
                    <dd><input type="text" maxlength="250" id="last_name" name="last_name" value="<%= @add_contact_form[:last_name]%>"></dd>

                    <dt><label for="phone_number">phone number</label></dt>
                    <dd><input type="text" maxlength="30" id="phone_number" name="phone_number" value="<%= @add_contact_form[:phone_number]%>"></dd>

                    <dt><label for="email">email</label></dt>
                    <dd><input type="email" maxlength="250" id="email" name="email" value="<%= @add_contact_form[:email]%>"></dd>

                    <dt><label for="note"></label>note</dt>
                    <dd><textarea id="note" maxlength="250" name="note"><%= @add_contact_form[:note]%></textarea></dd>
                </dl>
                <button>Create Contact</button><label for="edit_contact" roll="link" id="cancel-link">Cancel</label>
            </form>
        </article>
    </section>
</section>
